@import url("photographer.css");

//média queries
$breakpointsmax:
(max: 1800px);


@mixin max-only {
    @media screen and (max-width: map-get($breakpointsmax, max)){
        @content;
    }
  }


//page

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    @include max-only {
        width: 1800px;
    }
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    &__logo {
        height: 50px;
        margin-left: 100px;
    }
    &__h1 {
        color: #901C1C;
        margin-right: 100px;
    }    
}


.photographer__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 100px;
    flex-wrap: wrap;
    &__article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 530px;
        height: 30%;
        margin: 2%;
        padding-left: 2px;
        padding-bottom: 0px;
        a {
            text-decoration: none;
            text-align: center;
        }
        &__img {
            height: 15em;
            width: 15em;
            border-radius: 10em;
            object-fit: cover;
            background-size: cover;
        }
        &__h2 {
            color: #D3573C;
            font-size: 36px;
            
        }
        &__localisation {
            color: darken(#D3573C, 20%);
        }
        &__tagline {
            font-weight: bold;
        }
        h2{
            margin-top: 2px;
            margin-bottom: 2px;
        }
        p{
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}
